*, *:before, *:after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  display: inline-flex;
  text-decoration: none;
  color: #444;

  &:visited {
    text-decoration: none;
    color: #444;
  }
  &:hover {
    text-decoration: none;
    color: #aaa;
  }
  &:active {
    text-decoration: none;
    color: #ddd;
  }
}
#content {
  width: 100%;
  height: 100%;

  &>div {
    width: 100%;
    height: 100%;
  }
}

section {
  position: relative;
  width: 75%;
  height: 100%;
}

#map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width:75%;
  z-index: -1;
}

#appHeader {
  background-color: 'transparent';
  width:100%;
}
@font-face {
    font-family: 'TakeItEasy'; /*a name to be used later*/
    src: url('../../fonts/SignPainter-HouseScript.ttf') format('truetype'); /*URL to font*/
}

#headerBox {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-style: solid;
  border-color: #fff #777 #777 #777;
  border-width: 1px;
  border-radius: 0px 0px 100px 100px;
  height: 150px;
  text-align: center;
  padding: 10px;
}

#headerText {
  font-size: 20px;
  margin: 0 auto;
}

#sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #fff;
  width: 25%;
}
#market{
  background-color: #eee;
  padding: 5px;
}
#vendor{
  background-color: #fff;
  margin-top:5px;
  padding: 5px;
}
