<style type="text/css">
@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}
p.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}
@font-face {
    font-family: 'TakeItEasy';
    src: url('../../fonts/SignPainter-HouseScript.ttf') format('truetype'); /*URL to font*/
}
</style>
<p class="customfont">Hello world!</p>
